{% extends 'base.html' %}
{% load static %}
{% block title %} Purchases {% endblock title %}
{% block js_scripts %}
    <script type="text/javascript" src="../static/js/purchases.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/purchases.css"/>

{% endblock js_scripts %}
{% block navbar-content %}
<div class="container-fluid scrollable-content">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
    </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'customers_home' %}"><b style="font-size:25px;">Customers</b></a>
      </li>
      </ul>
    </div>
</div>{% endblock navbar-content %}
{% block content %}

    <div class="container-fluid " style="width: auto; margin: auto;">
        <br>
        <div>
            <a href="{% url 'vendors_home' %}" class="btn btn-outline-secondary btn-sn"><i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;New Purchase</a>
        </div>
        <br>
        <table id="purchasesTable" class="table-wrapper display nowrap table table-striped table-responsive table-hover table-bordered table-dark table-sm mt-4">
    <caption>List of Purchases</caption>
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" align="center" scope="col" class="text-center" >Purchase ID</th>
            <th style="text-align: center;" scope="col" >Bill No</th>
            <th style="text-align: center;" scope="col" >Metal</th>
            <th style="text-align: center;" scope="col" >HSN/SAC Code</th>
            <th style="text-align: center;" scope="col" >Purity</th>
            <th style="text-align: center;" scope="col" >Description</th>
            <th style="text-align: center;" scope="col" >Purchase Type</th>
            <th style="text-align: center;" scope="col" >Gross Weight</th>
            <th style="text-align: center;" scope="col" >Less Weight</th>
            <th style="text-align: center;" scope="col" >Net Weight</th>
            <th style="text-align: center;" scope="col" >Rate</th>
            <th style="text-align: center;" scope="col" >Delivery Mode</th>
            <th style="text-align: center;" scope="col" >GST</th>
            <th style="text-align: center;" scope="col" >TCS</th>
            <th style="text-align: center;" scope="col" >Total Amount</th>
            <th style="text-align: center;" scope="col" >Rounded Off</th>
            <th style="text-align: center;" scope="col" >Total</th>
            <th style="text-align: center;" scope="col" >Purchase Date</th>
            <th style="text-align: center;" scope="col" >Declaration</th>
            <th style="text-align: center;" scope="col" >Settled Amount</th>
            <th style="text-align: center;" scope="col" >Unsettled Amount</th>
            <th style="text-align: center;" scope="col" >Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchases %}
        <tr>
            <td class="table-secondary">{{ purchase.purchase_id }}</td>
            <td class="table-secondary">{{ purchase.bill_no }}</td>
            <td class="table-secondary">{{ purchase.metal }}</td>
            <td class="table-secondary">{{ purchase.HSN_SAC_Code }}</td>
            <td class="table-secondary">{{ purchase.Purity }}</td>
            <td class="table-secondary">{{ purchase.description }}</td>
            <td class="table-secondary">{{ purchase.item_purchase_12}}</td>
            <td class="table-secondary">{{ purchase.gross_weight }}</td>
            <td class="table-secondary">{{ purchase.less_weight }}</td>
            <td class="table-secondary">{{ purchase.net_weight }}</td>
            <td class="table-secondary">{{ purchase.rate }}</td>
            <td class="table-secondary">{{ purchase.delivery_mode }}</td>
            <td class="table-secondary">{{ purchase.gst }}</td>
            <td class="table-secondary">{{ purchase.tcs }}</td>
            <td class="table-secondary">{{ purchase.total_amount }}</td>
            <td class="table-secondary">{{ purchase.rounded_off }}</td>
            <td class="table-secondary">{{ purchase.total }}</td>
            <td class="table-secondary">{{ purchase.inv_date }}</td>
            <td class="table-secondary">{{ purchase.declaration }}</td>
            <td class="table-secondary">{{ sale.settled_amount }}</td>
            <td class="table-secondary">{{ sale.unsettled_amount }}</td>
            <td scope="row" class="table-secondary">
                <div style="display: flex; justify-content: space-between;">

                    <!--<a style="flex: 1;margin: 0 5px;" href="{% url 'customer' customer_id=sale.customer_id %}" class="btn btn-outline-secondary" title="View Sale">
                        <i class="fas fa-eye" style="display: inline-block;"></i>
                    </a>-->
                     <a style="flex: 1;margin: 0 5px;" href="{% url 'edit_purchase' purchase_id=purchase.purchase_id item_purchase_12=purchase.item_purchase_12 %}" class="btn btn-outline-primary" title="Edit Purchase">
                        <i class="fas fa-pen" style="display: inline-block;"></i>
                    </a>&nbsp;
                    <a style="flex: 1;margin: 0 5px;" href="{% url 'delete_purchase' purchase_id=purchase.purchase_id %}" class="btn btn-outline-danger" title="Delete Purchase">
                        <i class="fas fa-trash-alt" style="display: inline-block;"></i>
                    </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <br><br><br>
    </div>

{% endblock content %}


